---
layout: default
---

<main class="container">
  <h2>{{ page.title | escape }}</h2>

  {%- assign all_items = "" | split: "" -%}
{%- for p in site.movies -%}{%- assign all_items = all_items | push: p -%}{%- endfor -%}
{%- for p in site.books -%}{%- assign all_items = all_items | push: p -%}{%- endfor -%}
{%- for p in site.articles -%}{%- assign all_items = all_items | push: p -%}{%- endfor -%}
{%- for p in site.essays -%}{%- assign all_items = all_items | push: p -%}{%- endfor -%}
{%- assign sorted_all = all_items | sort: "date" | reverse -%}

{% include posts.html posts=sorted_all -%}
</main>
